@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: url("src/background.png") repeat;
}

main {
  min-height: 65vh;
  max-width: 800px;
  margin: 4rem 4rem 8rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: #111;
  border-radius: 8px;
  box-shadow: 0 0 24px #0006;
}

h1 {
  margin-bottom: 2rem;
  color: #888;
  font-size: 2.5rem;
}

ol {
  padding-left: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p,
li {
  color: #aaa;
  font-size: 1.5rem;
}

main > p {
  text-decoration: underline;
}

.message-error-container {
  display: flex;
  flex-direction: column;
}

#message-error,
#request-data {
  word-break: break-word;
  white-space: pre-wrap;
}

#message-error {
  color: #dd0000;
}

#request-data {
  color: #777;
}

strong {
  text-decoration: underline;
}
