@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #aaa;
  background: url("src/background.png") repeat;
}

#main-content {
  max-width: 500px;

  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  position: static;

  background-color: #fff1;
}

button {
  width: fit-content;
  height: 3.5rem;

  padding-inline: 0.5rem;

  font-size: 1.2rem;
  cursor: pointer;

  border-radius: 0.3rem;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.5);
}

#loading-message,
#confirmation-modal-loading-message,
#error-message {
  margin: auto;
  padding: 1rem;

  position: relative;

  align-content: center;
  font-size: 1.5rem;

  span {
    position: absolute;
  }
}

/* HIDDEN ELEMENTS */
body > div.hidden,
#main-content.hidden,
#overlay.hidden,
#payment-proof-preview-image.hidden,
#table-orders-results.hidden,
#no-results-message.hidden,
#search-error-message.hidden,
#search-results.hidden,
#search-sheets-section.hidden,
#buying-process-section.hidden,
#confirmation-modal-loading-message.hidden {
  display: none;
}

/* MAIN SECTION */

#main-section {
  min-height: 85vh;

  margin: 6px 3px;
  padding: 1rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: url("src/background.png") repeat;
  border-radius: 0.3rem;
}

#logo {
  width: 80%;
  max-width: 360px;
  min-height: 180px;

  margin: auto;

  background: url("src/logo_bingo_v2.png") no-repeat center;
  background-size: contain;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

/* ACTION SECTIONS */
#action-sections-container {
  padding-inline: 3px;
}

#action-menu {
  width: 100%;
  display: flex;
  gap: 5px;

  li {
    list-style: none;
    flex-grow: 1;
  }

  button {
    height: calc(3.5rem - 5px);
    width: 100%;
    color: #0009;
    text-decoration: underline;
    letter-spacing: 1px;
    background-color: #b3bf5a;
    box-shadow: 0 0 10px #b3bf5a44;
  }

  button.active {
    height: 3.5rem;
    color: #aaa;
    text-decoration: none;

    background: none;
    background-color: #0006;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;

    &:hover {
      opacity: 1;
    }
  }
}

/* SEARCH SECTION */
#search-sheets-section,
#buying-process-section {
  padding: 2rem 0.7rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  border-radius: 0.3rem;
  background-color: #0006;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-decoration: underline;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > li {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      padding: 1rem 1rem 1.5rem;

      background: url("src/background.png") repeat;
      border-radius: 0.3rem;
    }
  }
}

#action-sections-container > #buying-process-section {
  border-top-left-radius: 0px;
}

#action-sections-container > #search-sheets-section {
  border-top-right-radius: 0px;
}

.numeration {
  padding-right: 0.5rem;

  font-size: 2rem;
}

#search-first-step {
  box-shadow: 0 0 5px #f2b138;
  .numeration {
    color: #f2b138;
  }
}

#search-second-step {
  box-shadow: 0 0 5px #b3bf5a;
  .numeration {
    color: #b3bf5a;
  }
}

#search-third-step {
  box-shadow: 0 0 5px #0396a6;
  .numeration {
    color: #0396a6;
  }
}

#search-input,
#request-form > input {
  width: 100%;
  height: 3.5rem;

  padding-inline: 0.5rem;

  font-size: 1.2rem;
  color: #fff;

  background-color: #ffffff06;
  border: 2px solid #ffffff40;
  border-radius: 0.3rem;

  &:focus {
    color: #aaa;
    background-color: #ffffff06;
  }
}

#btn-search {
  width: 100%;
  height: 3.5rem;

  font-size: 1.5rem;
  text-align: center;
  align-content: center;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #3336;
  cursor: pointer;

  border-radius: 0.3rem;
  background-color: #f2b138;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    opacity: 0.8;
  }
}

#table-orders-results {
  width: 100%;

  font-size: 1.2rem;

  th {
    padding-bottom: 0.4rem;

    text-align: center;
    letter-spacing: 1px;
  }

  td {
    padding-block: 0.4rem;
    text-align: center;

    a {
      display: inline-block;
      padding: 0.4rem 0.6rem 0.2rem;
      margin-inline: 0.4rem;

      letter-spacing: 1px;
      color: white;
      border-radius: 4px;
      background-color: #b3bf5a;

      i {
        font-size: 2rem;
      }

      &:hover {
        opacity: 0.8;
      }

      &:visited {
        color: white;
      }
    }
  }
}

/* BUYING PROCESS SECTION */

#buying-first-step {
  box-shadow: 0 0 5px #f21b42;
  .numeration {
    color: #f21b42;
  }
}

#buying-second-step {
  box-shadow: 0 0 5px #0396a6;
  .numeration {
    color: #0396a6;
  }
}

#buying-third-step {
  box-shadow: 0 0 5px #b3bf5a;
  .numeration {
    color: #b3bf5a;
  }
}

#buying-fourth-step {
  box-shadow: 0 0 5px #f2b138;
  .numeration {
    color: #f2b138;
  }
}

#quantity-controls {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;

  gap: 0.3rem;

  > * {
    border-radius: 0.3rem;
    border: none;
  }

  button {
    width: 3.5rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;
    font-size: 1.5rem;

    background-color: #f21b42aa;
  }
}

#input-quantity {
  max-width: 400px;
  height: 100%;

  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: #aaa;

  flex-grow: 1;

  background-color: #ffffff06;
  border: 2px solid #ffffff40;
}

#price-display {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
}

#total-price {
  font-weight: 600;
  font-size: 1.5rem;
}

#request-form {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  #name {
    margin-bottom: 1.2rem;
  }
}

#payment-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    align-items: center;

    strong {
      font-size: 1.2rem;
    }

    p {
      text-decoration: underline;
    }
  }
}

.btn-copy {
  padding-inline: 0.7rem;

  color: #fff;
  background-color: #b3bf5a;

  text-shadow: 0 0 5px #3336;
  letter-spacing: 1px;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.payment-proof-container {
  position: relative;
}

#payment-proof {
  width: 100%;
  position: absolute;
  bottom: 1rem;

  opacity: 0;

  z-index: -1;
}

#payment-proof-preview-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#payment-proof-preview-text {
  color: #fffa;
  word-break: break-word;
  white-space: pre-wrap;
}

#payment-proof-preview-image {
  width: 100%;
  height: auto;
  max-height: 50vh;

  object-fit: cover;
  object-position: center;

  margin: 0 auto;

  border-radius: 0.3rem;
  box-shadow: 0 0 5px #0003;
}

.custom-payment-proof {
  height: 3.5rem;

  font-size: 1.2rem;
  text-align: center;
  align-content: center;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #3336;
  cursor: pointer;

  border-radius: 0.3rem;
  background-color: #f2b138;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    opacity: 0.8;
  }
}

#btn-confirm-buying {
  width: calc(100% - 1.4rem);
  height: 4.5rem;

  margin-inline: 0.7rem;

  font-size: 1.5rem;
  letter-spacing: 3px;
  text-shadow: 0 0 5px #3336;

  color: #fff;
  background-color: #4caf50;
  box-shadow: 10px 10px 5px #0003;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  :hover {
    opacity: 0.8;
  }
}

/* CONFIRMATION MODAL */

#confirmation-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 2000;

  overflow: hidden;
}

#confirmation-modal-container.hidden {
  z-index: -1;
}

#confirmation-modal {
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: calc(100vh - 2rem);

  margin: 0 auto;
  padding: 3rem 1rem 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: auto;

  z-index: 2000;
  box-shadow: 0 0 10px #0003;

  background-color: #333;
  border-radius: 1rem 1rem 0 0;

  transition: transform 0.3s ease-in-out;

  transform: translateY(0);

  h2 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-decoration: underline;
  }

  p {
    font-size: 1.2rem;
  }
}

#confirmation-modal.hidden {
  transform: translateY(100vh);
}

#btn-close-confirmation-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  color: #aaa;

  background-color: transparent;

  cursor: pointer;

  i {
    font-size: 1.8rem;
  }
}

#confirmation-details {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    width: 100%;

    padding: 0.5rem 1rem;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    border-radius: 0.3rem;

    &:nth-child(odd) {
      background-color: #fff1;
    }

    &:last-child {
      flex-direction: column;
      align-items: center;

      p {
        width: 100%;
      }
    }
  }

  p {
    font-size: 1.2rem;

    &:nth-child(odd) {
      color: #f2b138;
    }

    &:nth-child(even) {
      color: #aaa;
      text-align: end;
      text-wrap: nowrap;
    }
  }
}

#confirmation-quantity::after {
  content: "Combo/s";
  margin-left: 0.5rem;
}

#proof-image {
  width: 100%;
  height: auto;
  max-height: 50vh;

  object-fit: cover;
  object-position: center;

  margin: 0 auto;

  border-radius: 0.3rem;
  box-shadow: 0 0 5px #0003;
}

#btn-finish-buying {
  flex-grow: 1;

  font-size: 1.8rem;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #fff2;
  color: #fff;

  background-color: #4caf50;
  box-shadow: 0 0 10px #0003;

  i {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }
}

#confirmation-modal-loading-message {
  height: calc(100vh - 2rem);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;

  z-index: 2000;
  box-shadow: 0 0 10px #0003;

  background-image: url("./src/background.png");
  border-radius: 1rem 1rem 0 0;
}
