@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    background: url('src/background.png') repeat;
}

main {
    max-width: 500px;

    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4rem;

    background-color: #fff1;
}

button {
    width: fit-content;
    height: 2.5rem;

    padding-inline: .5rem;

    font-size: 1.2rem;
    cursor: pointer;

    border-radius: .3rem;
    border: none;

    :hover {
        opacity: 0.8;
    }
}

/* MAIN SECTION */

#main-section {    
    min-height: 90vh;
    
    margin: 3px;
    padding: 1rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: url('src/background.png') repeat;
    border-radius: 0.3rem;
}

#logo {
    width: 80%;
    max-width: 360px;
    min-height: 180px;

    margin: auto;

    background: url('src/logo_bingo_v2.png') no-repeat center;
    background-size: contain;
}

h1 {
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}


/* BUYING PROCESS SECTION */

#buying-process-section {
    margin: 3px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 0.3rem;

    h2 {
        text-align: center;
        text-decoration: underline;
    }

    > p {
        margin-inline: 1rem;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > li {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            padding: 1rem;

            background: url('src/background.png') repeat;
            border-radius: 0.3rem;
        }
    }
}


#quantity-controls {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;

    gap: 0.3rem;

    > * {
        border-radius: 0.3rem;
        border: none;
    }

    button {
        width: 2.5rem;
    }
}

#input-quantity {
    max-width: 400px;
    height: 100%;

    font-size: 1.5rem;
    text-align: center;

    flex-grow: 1;
}


#price-display {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5rem;
}


#contact-form {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: .2rem;
    }

    input {
        width: 100%;
        height: 2.5rem;

        padding-inline: 0.5rem;

        font-size: 1.2rem;

        border-radius: 0.3rem;
        border: none;
    }

    #name {
        margin-bottom: 1rem;
    }
}


#payment-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
        padding: 0;
        margin: 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr) auto;
        align-items: center;

        p:first-child {
            margin-right: 0.5rem;
        }

        
    }
}


#payment-proof-container {
    position: relative;
}

#payment-proof {
    width: 100%;
    position: absolute;
    bottom: 1rem;

    z-index: -1;
}


.custom-payment-proof {
    height: 2.5rem;

    font-size: 1.2rem;
    text-align: center;
    align-content: center;
    color: #000;
    cursor: pointer;

    border-radius: .3rem;
    background-color: #FFF;

    :hover {
        opacity: 0.8;
    }
}


#btn-confirm-buying {
    width: calc(100% - 6px - 2rem);
    height: 2.5rem;

    margin-inline: calc(3px + 1rem);

    font-size: 1.2rem;
    font-weight: 600;

    color: #FFF;
    background-color: #4CAF50;

    :hover {
        opacity: 0.8;
    }
}


